body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  font-size: 12pt;
  color: black;
  background-color: white; }

header, footer, div, a, img, span, input, textarea, button, form, h1, h2, h3 {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin: 0;
  white-space: normal;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-align: center;
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit; }

input, textarea {
  white-space: pre-wrap; }

input.ib_radioinput {
  width: auto;
  margin: 0;
  padding: 0;
  text-align: center; }

button {
  background-color: inherit; }

.ib_visibilitynone {
  visibility: hidden; }

.ib_show {
  display: inline-block; }

.ib_hide {
  display: none; }

.ib_showsmallonly {
  display: inline-block; }

@media only screen and (min-width: 721px) {
  .ib_showsmallonly {
    display: none; } }
.ib_showlargeonly {
  display: none; }

@media only screen and (min-width: 721px) {
  .ib_showlargeonly {
    display: inline-block; } }
@media only screen and (max-width: 720px) {
  .ib_forceshowonlysmall {
    display: inline-block !important; } }
@media only screen and (max-width: 720px) {
  .ib_forcehideonlysmall {
    display: none !important; } }
.ib_height1 {
  height: 100%; }

.ib_widthauto {
  width: auto; }

.ib_box {
  width: 100%; }

.ib_halfbox {
  width: 49%; }

.ib_thirdbox {
  width: 33%; }

.ib_2thirdbox {
  width: 66%; }

.ib_quarterbox {
  width: 24%; }

.ib_3quarterbox {
  width: 74%; }

.ib_box_col {
  width: 100%;
  max-width: 1024px; }

.ib_box_title {
  width: 100%;
  padding: 96px 0 32px 0;
  font-size: 16pt;
  font-weight: 500; }

.ib_margintblow {
  margin-top: 4px;
  margin-bottom: 4px; }

.ib_margintbmid {
  margin-top: 8px;
  margin-bottom: 8px; }

.ib_margintbbig {
  margin-top: 16px;
  margin-bottom: 16px; }

.ib_box_half {
  width: 100%; }

@media only screen and (min-width: 721px) {
  .ib_box_half {
    width: 49%; } }
.ib_box_third {
  width: 100%; }

@media only screen and (min-width: 721px) {
  .ib_box_third {
    width: 33%; } }
.ib_box_2third {
  width: 100%; }

@media only screen and (min-width: 721px) {
  .ib_box_2third {
    width: 66%; } }
.ib_box_quarter {
  width: 100%; }

@media only screen and (min-width: 721px) {
  .ib_box_quarter {
    width: 24%; } }
.ib_box_3quarter {
  width: 100%; }

@media only screen and (min-width: 721px) {
  .ib_box_3quarter {
    width: 74%; } }
.ib_halfbox_quarter {
  width: 49%; }

@media only screen and (min-width: 721px) {
  .ib_halfbox_quarter {
    width: 24%; } }
.ib_verticalalignmiddle {
  vertical-align: middle; }

.ib_verticalaligntop {
  vertical-align: top; }

.ib_verticalalignbottom {
  vertical-align: bottom; }

.ib_positionfixedoverallscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  line-height: 100vh; }

.ib_positionabsolutemidcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%; }

.ib_whitespacenowrap {
  white-space: nowrap; }

.ib_paddinglow {
  padding: 4px; }

.ib_paddingmid {
  padding: 8px; }

.ib_paddingbig {
  padding: 32px; }

.ib_button {
  padding: 6px 12px 6px 12px; }

.ib_button_a {
  color: white;
  background-color: #0d385c;
  padding-left: 12px;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 10pt;
  cursor: pointer;
  height: 56px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
  padding-right: 52px; }

.ib_bordergrey1px {
  border: 1px solid #EFEFEF; }

.ib_bordergreen {
  border: 10px solid #97c855; }

.ib_borderradius {
  border-radius: 5px; }

.ib_borderradiuslow {
  border-radius: 2px; }

.ib_borderradiussmall {
  border-radius: 4px; }

.ib_borderradius5px {
  border-radius: 5px; }

.ib_borderradius1 {
  border-radius: 100%; }

.ib_fontsizelow {
  font-size: 8px; }

.ib_fontsizesmall {
  font-size: 10px; }

.ib_fontsizenormal {
  font-size: 12pt; }

.ib_fontsizebig {
  font-size: 20px; }

.ib_white {
  color: white; }

.ib_grey {
  color: #7f7f7f; }

.ib_grey2 {
  color: #EFEFEF; }

.ib_black {
  color: black; }

.ib_red {
  color: #6E0005; }

.ib_green {
  color: #97c855; }

.ib_blue {
  color: #0d385c; }

.ib_violet {
  color: #7e6991; }

.ib_beige {
  color: #ede3d9; }

.ib_brown {
  color: #574a42; }

.ib_bgwhite {
  background-color: white; }

.ib_bggrey {
  background-color: #7f7f7f; }

.ib_bggrey2 {
  background-color: #EFEFEF; }

.ib_bgblack {
  background-color: black; }

.ib_bgred {
  background-color: #6E0005; }

.ib_bggreen {
  background-color: #97c855; }

.ib_bgblue {
  background-color: #0d385c; }

.ib_bgviolet {
  background-color: #7e6991; }

.ib_bgbeige {
  background-color: #ede3d9; }

.ib_bgbrown {
  background-color: #574a42; }

.ib_bgblackhalf {
  background-color: rgba(0, 0, 0, 0.5); }

.ib_textalignleft {
  text-align: left; }

.ib_textaligncenter {
  text-align: center; }

.ib_textalignjustify {
  text-align: justify; }

.ib_textalignright {
  text-align: right; }

.ib_bgimg {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top; }

#ib_ifnojs {
  position: fixed;
  bottom: 0vh;
  z-index: 10;
  font-size: 12px;
  height: 20px;
  line-height: 20px; }

.rc_text_xs {
  font-size: 70%; }

.rc_text_s {
  font-size: 80%; }

.rc_text_m {
  font-size: 150%; }

.rc_text_l {
  font-size: 200%; }

.rc_text_xl {
  font-size: 250%; }

.rc_fw {
  font-weight: 900; }

.rc_pic_xxs {
  width: 25%; }

.rc_pic_xs {
  width: 50%; }

.rc_pic_s {
  width: 80%; }

.rc_pic_m {
  width: 150%; }

.rc_pic_l {
  width: 200%; }

.rc_padl_xs {
  padding-left: 25px; }

.rc_padl_s {
  padding-left: 50px; }

.rc_pad_milan {
  padding-top: 10%; }

.rc_padl_m {
  padding-left: 100px; }

.rc_padl_l {
  padding-left: 150px; }

.rc_padr_xs {
  padding-right: 25px; }

.rc_padr_s {
  padding-right: 50px; }

.rc_padr_m {
  padding-right: 100px; }

.rc_padr_l {
  padding-right: 150px; }

.rc_padt_xs {
  padding-top: 25px; }

.rc_padb_s {
  padding-top: 50px; }

.rc_padt_m {
  padding-top: 100px; }

.rc_padt_l {
  padding-top: 150px; }

.rc_padb_xs {
  padding-bottom: 25px; }

.rc_padb_s {
  padding-bottom: 50px; }

.rc_padb_m {
  padding-bottom: 100px; }

.rc_padb_l {
  padding-bottom: 150px; }

.rc_pad_xs {
  padding: 25px; }

.rc_pad_s {
  padding: 50px; }

.rc_pad_m {
  padding: 100px; }

.rc_pad_l {
  padding: 150px; }

.rc_mar_s {
  margin-bottom: 12px; }

/*# sourceMappingURL=ib_classes.css.map */
